<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysj.lib.route">

    <application>
        <provider
            android:name=".remote.RemoteRouteProvider"
            android:authorities="${applicationId}.RouteProvider"
            android:exported="true" />
    </application>
</manifest>